<a class="home-nav-card" href="<%=href%>">
  <header class="home-nav-card-header">
    <i
      class="home-nav-card-icon"
      data-lucide="<%= icon %>"
      alt="<%= icon %> icon"
    ></i>
    <h3 class="home-nav-card-title"><%= title %></h3>
  </header>
  <small class="home-nav-card-description"><%= description %></small>
</a>
