<% if (pag == 1){ %> <% prevPag = 1 %> <% } else { %> <% prevPag = pag-1 %> <% }
%>
<ul class="pagination d-flex justify-content-center">
  <% finalPage = Math.ceil(total / 8 )%> <% if (finalPage > 1) { %>
  <li class="page-item">
    <a class="page-link" href="/admin?pag=<%=prevPag%>" aria-label="Previous">
      <span aria-hidden="true" class="text-success fw-bold user-select-none"
        ><i data-lucide="arrow-left" alt="left-arrow" style="width: 20px; height: 20px;"></i></span
      >
    </a>
  </li>
  <li class="page-item">
    <a
      class="page-link user-select-none <% if (pag == 1) { %> text-bg-success <% } else { %> text-success <% } %> fw-bold"
      href="/admin?pag=1"
      >1
    </a>
  </li>
  <% } %> <% if (pag - 5 > 2) { %>
  <li class="page-item">
    <a class="page-link user-select-none text-success fw-bold">... </a>
  </li>
  <% } %> <% for (let p = -5; p < 6 ; p++) { %> <% if (pag + p > 1 && pag + p <
  finalPage) {%>
  <li class="page-item">
    <a
      class="page-link user-select-none <% if (pag == pag+p) { %> text-bg-success <% } else { %> text-success <% } %> fw-bold"
      href="/admin?pag=<%=pag+p%>"
      ><%= pag+p %>
    </a>
  </li>
  <% } } %> <% if (pag == finalPage){ %> <% nextPage = finalPage %> <% } else {
  %> <% nextPage = pag + 1 %> <% } %> <% if (finalPage > pag + 6 ) { %>
  <li class="page-item">
    <a class="page-link user-select-none text-success fw-bold">... </a>
  </li>
  <% } %> <% if (finalPage > 1) {%>
  <li class="page-item">
    <a
      class="page-link user-select-none <% if (pag == finalPage) { %> text-bg-success <% } else { %> text-success <% } %> fw-bold"
      href="/admin?pag=<%=finalPage%>"
      ><%=finalPage%>
    </a>
  </li>
  <li class="page-item">
    <a class="page-link" href="/admin?pag=<%=nextPage%>" aria-label="Next">
      <span aria-hidden="true" class="text-success fw-bold user-select-none"
        ><i data-lucide="arrow-right" alt="right-arrow" style="width: 20px; height: 20px;"></i></span
      >
    </a>
  </li>
  <% } %>
</ul>
