<article class="py-2">
  <label for="<%= id %>" class="form-label user-select-none"
    ><%= label %></label
  >
  <div
    class="d-flex align-items-center justify-content-between position-relative"
  >
    <input
      type="password"
      class="form-control w-100 <% if (invalidUser) { %> is-invalid <% } %> "
      id="<%= id %>"
      name="<%= name %>"
      oninput="resetValidators('<%= formType %>')"
      required
      autocomplete="off"
    />
    <i
      data-lucide="eye"
      class="passwordIconContainer position-absolute end-0 mx-3 <% if (invalidUser) { %> visually-hidden <% } %>"
      id="passwordHideIcon"
      onclick="hidePassword('<%= id %>')"
    ></i>
  </div>
</article>
