<%- include('partials/head', {title : "Administración de Usuarios", css : "", js: "", header: true}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container row d-flex flex-column p-0 m-0 gap-3 vh-100">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <h3 class="mx-auto text-center">Administración de Usuarios</h3>

    <section class="container-fluid table-responsive">
        <table class="table text-center table-hover table-sm table-rounded rounded-2 overflow-hidden shadow border">
            <thead class="table-success">
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <% if (user.username != username) {%> 
                    <tr>
                        <td><span><%= user.username %></span></td>
                        <td><%= user.email %></td>
                        <% if (user.admin){ %>
                        <td>Administrador</td>
                        <% } else { %>
                        <td>Moderador</td>
                        <% } %>
                        <td>
                            <button class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cambiar Contraseña">
                                <i class="text-dark" data-lucide="key-round" alt="changepassword-icon"></i>
                            </button>
                            <button class="btn btn-link p-0" >
                                <i class="text-dark" data-lucide="pencil" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Modificar Usuario" alt="modify-icon"></i>
                            </button>
                            <button class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Convertir en Administrador">
                                <i class="text-dark" data-lucide="shield-plus" alt="makeadmin-icon"></i>
                            </button>
                            <button class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar Usuario">
                                <i class="text-dark" data-lucide="trash-2" alt="delete-icon"></i>
                            </button>
                        </td>
                    </tr>
                <% }}) %>
                
            </tbody>
        </table>
    </section>
    
  </main>
  <%- include('partials/scripts')%>
  <%- include('partials/foot'); %>
</body>
