<%- include('partials/head', {title : "Administración de Usuarios", css : "", js: "admin.js", header: true}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container-fluid row d-flex flex-column p-0 m-0 gap-3 vh-100">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <section class="container-fluid table-responsive px-4 w-75">
        <table class="table text-center table-hover table-sm table-rounded rounded-2 overflow-hidden shadow border user-select-none">
            <caption class="text-center fs-3 caption-top text-dark fw-semibold mb-2">Administración de Usuarios</caption>
            <thead class="table-success">
                <tr>
                    <th>Nombre de Usuario</th>
                    <!-- <th>Email</th> -->
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user) => { %>
                    <% if (user.username != username && user.username != "root") {%> 
                    <tr>
                        <td><%= user.username %></td>
                        <!-- <td><%= user.email %></td> -->
                        <% if (user.admin){ %>
                        <td>Administrador</td>
                        <% } else { %>
                        <td>Moderador</td>
                        <% } %>
                        <td>
                            <a class="btn btn-link p-0" data-bs-toggle="tooltip"  data-bs-placement="top" data-bs-title="Cambiar Contraseña">
                                <i class="text-dark opacityHover" data-bs-toggle="modal" data-bs-target="#changePasswordModal" data-bs-user="<%=user.username%>" data-lucide="key-round" alt="changepassword-icon"></i>
                            </a>
                            <% if (!user.admin) { %>
                            <a class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Convertir en Administrador">
                                <i class="text-dark opacityHover" data-bs-toggle="modal" data-bs-target="#promoteAdminModal" data-bs-user="<%=user.username%>" data-lucide="shield-plus" alt="makeadmin-icon"></i>
                            </a>
                            <% } else { %>
                            <a class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Retornar a Moderador">
                                <i class="text-dark opacityHover" data-bs-toggle="modal" data-bs-target="#returnModeratorModal" data-bs-user="<%=user.username%>" data-lucide="shield-minus" alt="makeadmin-icon"></i>
                            </a>
                            <% } %>
                            <a class="btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar Usuario">
                                <i class="text-dark opacityHover" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-bs-user="<%=user.username%>" data-lucide="trash-2" alt="delete-icon"></i>
                            </a>
                        </td>
                    </tr>
                <% }}) %>
                
                <!-- Modal para Cambiar Contraseña -->
                <article class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true">
                    <section class="modal-dialog modal-dialog-centered">
                        <section class="modal-content">
                            <header class="modal-header text-bg-success user-select-none">
                                <h1 class="modal-title fs-5"></h1>
                                <button class="btn text-light p-0 opacityHover" data-bs-dismiss="modal" aria-label="Close">
                                    <i data-lucide="x" alt="close-icon"></i>
                                </button>
                            </header>
                            <form method="post">
                                <section class="modal-body d-flex flex-column gap-4 py-2 px-3">
                                    <section class="user-select-none d-flex flex-column gap-3">
                                        <section>
                                            <label for="changePasswordModalUser" class="col-form-label fw-bold">Usuario</label>
                                            <input type="text" class="form-control" id="changePasswordModalUser" name="username" value="" readonly/>
                                        </section>
                                        <section>
                                            <label for="newPassword" class="col-form-label fw-bold">Nueva contraseña</label>
                                            <div class="d-flex align-items-center justify-content-between position-relative">
                                                <input type="password" class="form-control" id="newPassword" name="newPassword" required autocomplete="off"/>
                                                <i data-lucide="eye" class="passwordIconContainer position-absolute end-0 mx-3" id="passwordHideIcon" onclick="hidePassword('newPassword')"></i>
                                            </div>
                                        </section>
                                    </section>
                                    <section class="d-flex justify-content-around mb-2">
                                        <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                    </section>
                                </section>
                            </form>  
                        </section>
                    </section>
                </article>

                <!-- Modal para Convertir en Administrador -->
                <article class="modal fade" id="promoteAdminModal" tabindex="-1" aria-hidden="true">
                    <section class="modal-dialog modal-dialog-centered">
                        <section class="modal-content">
                            <header class="modal-header text-bg-primary user-select-none">
                                <h1 class="modal-title fs-5"></h1>
                                <button class="btn text-light p-0 opacityHover" data-bs-dismiss="modal" aria-label="Close">
                                    <i data-lucide="x" alt="close-icon"></i>
                                </button>
                            </header>
                            <form method="post">
                                <section class="modal-body d-flex flex-column gap-2 py-3 px-3 user-select-none">
                                    <p class="text-center">¿Está seguro que desea promover a <span id="promoteAdminModalUser" class="fw-bold"></span> al rol de Administrador?</p>
                                    <section class="d-flex justify-content-around mb-2">
                                        <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                                        <input type="text" class="d-none" name="username" value="">
                                        <input type="text" class="d-none" name="promoteUser" value=true>
                                        <button type="submit" class="btn btn-primary">Promover</button>
                                    </section>
                                </section>
                            </form>  
                        </section>
                    </section>
                </article>

                <!-- Modal para Retornar a Moderador -->
                <article class="modal fade" id="returnModeratorModal" tabindex="-1" aria-hidden="true">
                    <section class="modal-dialog modal-dialog-centered">
                        <section class="modal-content">
                            <header class="modal-header text-bg-primary user-select-none">
                                <h1 class="modal-title fs-5"></h1>
                                <button class="btn text-light p-0 opacityHover" data-bs-dismiss="modal" aria-label="Close">
                                    <i data-lucide="x" alt="close-icon"></i>
                                </button>
                            </header>
                            <form method="post">
                                <section class="modal-body d-flex flex-column gap-2 py-3 px-3 user-select-none">
                                    <p class="text-center">¿Está seguro que desea retornar a <span id="returnModeratorModalUser" class="fw-bold"></span> al rol de Moderador?</p>
                                    <section class="d-flex justify-content-around mb-2">
                                        <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                                        <input type="text" class="d-none" name="username" value="">
                                        <input type="text" class="d-none" name="promoteUser" value=false>
                                        <button type="submit" class="btn btn-primary">Retornar</button>
                                    </section>
                                </section>
                            </form>  
                        </section>
                    </section>
                </article>

                <!-- Modal para Eliminar Usuario -->
                <article class="modal fade" id="deleteUserModal" tabindex="-1" aria-hidden="true">
                    <section class="modal-dialog modal-dialog-centered">
                        <section class="modal-content">
                            <header class="modal-header text-bg-danger user-select-none">
                                <h1 class="modal-title fs-5"></h1>
                                <button class="btn text-light p-0 opacityHover" data-bs-dismiss="modal" aria-label="Close">
                                    <i data-lucide="x" alt="close-icon"></i>
                                </button>
                            </header>
                            <form method="post">
                                <section class="modal-body d-flex flex-column gap-2 py-3 px-3 user-select-none">
                                    <p class="text-center">¿Está seguro que desea eliminar a <span id="deleteUserModalUser" class="fw-bold"></span>?</p>
                                    <section class="d-flex justify-content-around mb-2">
                                        <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                                        <input type="text" class="d-none" name="username" value="">
                                        <input type="text" class="d-none" name="eraseUser" value=true>
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </section>
                                </section>
                            </form>  
                        </section>
                    </section>
                </article>

            </tbody>
        </table>
    </section>
    
  </main>
  <%- include('partials/scripts')%>
  <%- include('partials/foot'); %>
</body>
