<%- include('partials/head', {title : "Ajustes", css :"registro_visitantes.css", js : "", header: true}); %>
<body class="d-flex bg-body-secondary">

  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container-fluid row d-flex p-0 m-0 align-items-start vh-100">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <article class="d-flex flex-column justify-content-center align-items-center bg-white rounded-4 w-75 mx-auto p-0 shadow">
      <section class="border-bottom w-100 text-center text-bg-success rounded-top-3 py-1">
        <h3 class="user-select-none">Ajustes Generales</h3>
      </section>
      <form class="w-100" method="post">
        <section class="d-flex flex-column justify-content-center align-items-center w-100">
          <ul class="w-100 p-2 d-flex flex-column gap-1">
            <li class="container row">
              <section class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">
                <label for="internetDolarValue">Buscar el valor del dólar en el BCV</label>
              </section>
              <section class="col-5 my-2 px-2">
                <input class="form-check m-0" type="checkbox" name="internetDolarValue" id="internetDolarValue" <% if (internetDolarValue == "on") { %> checked <% } %> >
                <sub class="user-select-none lh-base">Determina si se desea buscar por internet la tasa actual del dolar en el BCV</sub>
              </section>
            </li>
            <li class="container row">
              <section class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">
                <label for="defaultDolarValue">Valor del dólar</label>
              </section>
              <section class="col-5 my-2 px-2 d-flex flex-column gap-2">
                <div class="w-75 position-relative">
                  <input class="form-control py-0 pe-0 d-inline w-75 text-dark ps-2 ps-1" type="number" min="1" step="any" required name="defaultDolarValue" id="defaultDolarValue" value="<%=defaultDolarValue%>" />
                  <span class="position-absolute end-25 ms-1 user-select-none">Bs.</span>
                </div>
                <sub class="user-select-none lh-base">Valor del dólar en bolívares que toma el sistema por defecto</sub>
              </section>
            </li>

            <li class="container row">
              <section class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">
                <label for="childrenTicketPrice"
                  >Entrada de Niños (2 - 9 años)</label
                >
              </section>
              <section
                class="col-5 my-2 px-2 d-flex flex-column gap-2 position-relative"
              >
                <div class="w-75 position-relative">
                  <input class="form-control py-0 pe-0 d-inline w-75 text-dark ps-2" type="number" min="1" step="any" required name="childrenTicketPrice" id="childrenTicketPrice" value="<%=childrenTicketPrice%>" />
                  <span class="position-absolute end-25 ms-1 user-select-none">$</span>
                </div>
                <sub class="user-select-none lh-base">Valor de la entrada de cada niño en dólares</sub>
              </section>
            </li>
            <li class="container row">
              <section class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">
                <label for="adultsTicketPrice">Entrada de Adultos (12 - 60 años)</label>
              </section>
              <section class="col-5 my-2 px-2 d-flex flex-column gap-2 position-relative">
                <div class="w-75 position-relative">
                  <input class="form-control py-0 pe-0 d-inline w-75 text-dark ps-2" type="number" min="1" step="any" required name="adultsTicketPrice" id="adultsTicketPrice" value="<%=adultsTicketPrice%>" />
                  <span class="position-absolute end-25 ms-1 user-select-none">$</span>
                </div>
                <sub class="user-select-none lh-base">Valor de la entrada de cada adulto en dólares</sub>
              </section>
            </li>
            <li class="container row">
              <section class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">
                <label for="seniorsTicketPrice">Entrada de Adultos Mayores (Mayores de 60 años)</label>
              </section>
              <section class="col-5 my-2 px-2 d-flex flex-column gap-2 position-relative">
                <div class="w-75 position-relative">
                  <input
                    class="form-control py-0 pe-0 d-inline w-75 text-dark ps-2"
                    type="number"
                    min="1"
                    step="any"
                    required
                    name="seniorsTicketPrice"
                    id="seniorsTicketPrice"
                    value="<%=seniorsTicketPrice%>"
                  />
                  <span
                    class="position-absolute end-25 ms-1 user-select-none"
                    >$</span
                  >
                </div>
                <sub class="user-select-none lh-base"
                  >Valor de la entrada de cada adulto mayor en dólares</sub
                >
              </section>
            </li>
          </ul>
          <button class="btn btn-success mb-3">Guardar Cambios</button>
        </section>
      </form>
    </article>
  </main>

  <%- include('partials/alert', {messageAlert, typeAlert}); %> 
  <%- include('partials/scripts') %> 
  <%- include('partials/alertScript.ejs', {showAlert})%>
<%- include('partials/foot'); %>
