<%- include('partials/head', {title : "Ajustes", css : "registro_visitantes.css", js : "main.js"}); %>
<body style="background-color: rgb(234, 243, 250); display: flex;">

    <!-- Menu Lateral y Main-->
    <%- include('partials/sidebar'); %>
    <main class="container-fluid row d-flex p-0 m-0 align-items-start" style="height: 100vh;">
        <!-- Encabezado -->
        <%- include('partials/header'); %>
        
        <article class="d-flex flex-column justify-content-center align-items-center bg-white rounded-4 w-75 mx-auto p-0 shadow">
            <section class="border-bottom w-100 text-center text-bg-success rounded-top-3 py-1">
                <h2 class="user-select-none">Ajustes Generales</h2>
            </section>
            <form class="w-100">
                <section class="d-flex flex-column justify-content-center align-items-center w-100">
                    <ul class="w-100 p-2 d-flex flex-column gap-1">
                        <li class="container row">
                            <p class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">Buscar el valor del dólar en el BCV</p>
                            <section class="col-5 my-2 px-2">
                                <input class="form-check m-0" type="checkbox" name="internetDolarValue" id="internetDolarValue">
                                <sub class="user-select-none lh-base">Determina si se desea buscar por internet la tasa actual del dolar en el BCV</sub>
                            </section>
                        </li>
                        <li class="container row">
                            <p class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">Valor del dólar</p>
                            <section class="col-5 my-2 px-2 d-flex flex-column gap-2">
                                <div class="w-75 position-relative">
                                    <input class="form-text w-75 text-dark ps-1 ps-1" type="number" min="1" step="any" required name="defaultDolarValue" id="defaultDolarValue">
                                    <span class="position-absolute end-25 ms-1 mt-1">Bs.</span>
                                </div>
                                <sub class="user-select-none lh-base">Valor del dólar en bolívares que toma el sistema por defecto</sub>
                            </section>
                        </li>
                        <li class="container row">
                            <p class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">Entrada de Niños (2 - 9 años)</p>
                            <section class="col-5 my-2 px-2 d-flex flex-column gap-2 position-relative">
                                <div class="w-75 position-relative">
                                    <input class="form-text w-75 text-dark ps-1" type="number" min="1" step="any" required name="childTicketPrice" id="childTicketPrice">
                                    <span class="position-absolute end-25 ms-1 mt-1">$</span>
                                </div>
                                <sub class="user-select-none lh-base">Valor de la entrada de cada niño en dólares</sub>
                            </section>
                        </li>
                        <li class="container row">
                            <p class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">Entrada de Adultos (12 - 60 años)</p>
                            <section class="col-5 my-2 px-2 d-flex flex-column gap-2 position-relative">
                                <div class="w-75 position-relative">
                                    <input class="form-text w-75 text-dark ps-1" type="number" min="1" step="any" required name="adultTicketPrice" id="adultTicketPrice">
                                    <span class="position-absolute end-25 ms-1 mt-1">$</span>
                                </div>
                                <sub class="user-select-none lh-base">Valor de la entrada de cada adulto en dólares</sub>
                            </section>
                        </li>
                        <li class="container row">
                            <p class="offset-1 col-6 p-0 fw-bold my-2 user-select-none">Entrada de Adultos Mayores (Mayores de 60 años)</p>
                            <section class="col-5 my-2 px-2 d-flex flex-column gap-2 position-relative">
                                <div class="w-75 position-relative">
                                    <input class="form-text w-75 text-dark ps-1" type="number" min="1" step="any" required name="olderTicketPrice" id="olderTicketPrice">
                                    <span class="position-absolute end-25 ms-1 mt-1">$</span>
                                </div>
                                <sub class="user-select-none lh-base">Valor de la entrada de cada adulto mayor en dólares</sub>
                            </section>
                        </li>
                    </ul>
                    <button class="btn btn-success mb-3">Guardar Cambios</button>
                </section>
            </form>
            
            
        </article>

    </main>
    <%- include('partials/scripts', {hasNewVisit: false})%>
        <%- include('partials/foot'); %>