<%- include('partials/head', {title : "Estadísticas", css :
"estadisticas.css", js : "estadisticas.js", header: true}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container-fluid d-flex flex-column gap-2 p-0 m-0 vh-100">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <article class="container-fluid user-select-none">
      <section class="row mb-2 d-flex justify-content-around">
        <div class="col-3 px-3 py-4">
          <div class="bg-light-subtle rounded-4 shadow px-1 pt-2 pb-3 d-flex justify-content-between align-items-center">
            <label class="d-flex flex-column align-items-center col-6 text-center ms-3">
              <p class="text-primary fs-3 m-0 fw-semibold">
                <%= totalKids+totalAdults+totalElders %>
              </p>
              <small class="text-secondary">Visitantes</small>
            </label>
            <figure class="text-secondary d-flex justify-content-center w-50 mb-0">
              <img class="w-50 h-50" src="./public/assets/img/visitors.png" alt="circle-dolar-icon"></img>
            </figure>
          </div>
        </div>
<!--         <div class="offset-1 col-3 px-3 py-4">
          <div class="bg-light-subtle rounded-4 shadow px-1 pt-2 pb-3 d-flex justify-content-between align-items-center">
            <label class="d-flex flex-column align-items-center w-50 text-center ms-3">
              <p class="text-primary fs-2 m-0 fw-semibold"><%= totalBolivars %></p>
              <small class="text-secondary">Ingresos (Bs.)</small>
            </label>
            <figure class="text-secondary d-flex justify-content-center w-50 mb-0">
              <i class="w-50 h-50" data-lucide="banknote" alt="circle-dolar-icon"></i>
            </figure>
          </div>
        </div> -->
        <div class="col-3 px-3 py-4">
          <div class="bg-light-subtle rounded-4 shadow px-1 pt-2 pb-3 d-flex justify-content-evenly align-items-center">
            <label class="d-flex flex-column align-items-center col-6 text-center ms-3">
              <p class="text-primary fs-3 m-0 fw-semibold"><%= totalDolars %> $</p>
              <small class="text-secondary">Ingresos Totales</small>
            </label>
            <figure class="text-secondary d-flex justify-content-center col-5 mb-0">
              <img class="w-50 h-50" src="./public/assets/img/income.png" alt="circle-dolar-icon"></img>
            </figure>
          </div>
        </div>
      </section>
      <section class="row d-flex gap-5 justify-content-evenly">
        <section class="col-4 bg-light-subtle rounded-4 shadow h-100 py-2">
          <h6 class="text-secondary-emphasis text-center fw-bold py-1">Distribución de los Visitantes según su Edad</h6>
          <figure class="chartContainer">
            <canvas id="visitsDistChart" aria-label="visitsDistChart" role="img"></canvas>
          </figure>
        </section>
        <section class="col-4 bg-light-subtle rounded-4 shadow h-100 py-2">
          <h6 class="text-secondary-emphasis text-center fw-bold py-1">Ingresos en Dólares por cada Método de Pago</h6>
          <figure class="chartContainer">
            <canvas id="paymentDistChart" aria-label="paymentDistChart" role="img"></canvas>
          </figure>
        </section>
      </section>

      <ul class="d-none">
        <li id="kidsValue" value="<%= totalKids %>"></li>
        <li id="adultsValue" value="<%= totalAdults %>"></li>
        <li id="eldersValue" value="<%= totalElders %>"></li>
        <li id="cashValue" value="<%= cash %>"></li>
        <li id="bankTransferValue" value="<%= bankTransfer %>"></li>
        <li id="mobilePayValue" value="<%= mobilePay %>"></li>
        <li id="otherValue" value="<%= other %>"></li>
      </ul>

      <form method="post" action="/estadisticas" class="d-flex justify-content-center align-items-center gap-4 mt-4">
        <section class="bg-light-subtle rounded-4 shadow py-2 d-flex justify-content-around align-items-center w-75 user-select-none">
          <h6 class="m-0"> Seleccionar Período: </h6>
          <section class="d-flex gap-4">
            <section class="d-flex align-items-center justify-content-center gap-3">
              <label for="startDate">Desde</label>
              <input id="startDate" class="form-control w-75" type="date" value="<%=startDate%>" max="<%=today%>" name="startDate">
            </section>
  
            <section class="d-flex align-items-center justify-content-center gap-3">
              <label for="endDate">Hasta</label>
              <input id="endDate" class="form-control w-75" type="date" value="<%=endDate%>" max="<%=today%>" name="endDate">
            </section>
            
          </section>
        </section>
        <button class="btn btn-success shadow" type="submit">Buscar</button>
        <button class="btn btn-primary" type="submit" formaction="/reporte" >Descargar</button>
      </form>

    </article>
  </main>
  <script src="./public/plugins/chartjs/chart.min.js"></script>
  <%- include('partials/scripts')%> <%- include('partials/foot'); %>
</body>
