<%- include('partials/head', {title : "Historial", css : "", js : "", header: true}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container row d-flex flex-column p-0 m-0 gap-3 vh-100">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <nav class="navbar m-0 user-select-none">
      <section class="container-fluid">
        <form class="d-flex w-100 align-items-center justify-content-center gap-4" role="search">
          <section class="col-8 bg-light-subtle rounded-4 shadow py-2 d-flex justify-content-evenly align-items-center">
            <h6 class="m-0"> Buscar Visita: </h6>
            <section class="col-8">
              <input class="form-control" type="search" aria-label="Search" name="filter" value="<%=searchFilter%>" />
            </section>
            
          </section>
          
          <button class="btn btn-success shadow" type="submit">Buscar</button>
          <a class="btn btn-primary shadow" href="/historial">Limpiar</a>
        </form>
      </section>
    </nav>

    <section class="container py-2 px-4 table-responsive">
      <table class="table text-center table-hover table-sm table-rounded rounded-2 overflow-hidden shadow border">
        <thead class="table-success">
          <tr class="user-select-none">
            <% if (searchFilter != "") { %> 
              <% searchFilter = "&filter=" + searchFilter %> 
              <% } %> 
            <% if (sort == "date" && order == "asc"){ %>
            <th scope="col">
              <a href="/historial?pag=<%=pag%>&sort=date&order=dec<%=searchFilter%>" class="text-decoration-none text-black" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Fecha de cada Visita (Orden Ascendente)">Fecha &uarr;</a>
            </th>
            <% } else if (sort == "date" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=date&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Fecha de cada Visita (Orden Descendente)"
                >Fecha &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=date&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Fecha de cada Visita"
                >Fecha</a
              >
            </th>
            <% } %> 
            <% if (sort == "time" && order == "asc"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=time&order=dec<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Hora de Llegada de cada Visita (Orden Ascendente)"
                >Hora &uarr;
              </a>
            </th>
            <% } else if (sort == "time" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=time&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Hora de Llegada de cada Visita (Orden Descendente)"
                >Hora &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=time&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Hora de Llegada de cada Visita"
                >Hora</a
              >
            </th>
            <% } %>
            <% if (sort == "childrenNumber" && order == "asc"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=childrenNumber&order=dec<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Niños por Visita (Orden Ascendente)"
                >Niños &uarr;</a
              >
            </th>
            <% } else if (sort == "childrenNumber" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=childrenNumber&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Niños por Visita (Orden Descendente)"
                >Niños &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=childrenNumber&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Niños por Visita"
                >Niños</a
              >
            </th>
            <% } %>
            <% if (sort == "adultsNumber" && order == "asc"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=adultsNumber&order=dec<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Adultos por Visita (Orden Ascendente)"
                >Adultos &uarr;</a
              >
            </th>
            <% } else if (sort == "adultsNumber" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=adultsNumber&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Adultos por Visita (Orden Descendente)"
                >Adultos &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=adultsNumber&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Adultos por Visita"
                >Adultos</a
              >
            </th>
            <% } %>
            <% if (sort == "seniorsNumber" && order == "asc"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=seniorsNumber&order=dec<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Adultos Mayores por Visita (Orden Ascendente)"
                >Adultos M. &uarr;</a
              >
            </th>
            <% } else if (sort == "seniorsNumber" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=seniorsNumber&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Adultos Mayores por Visita (Orden Descendente)"
                >Adultos M. &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=seniorsNumber&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cantidad de Adultos Mayores por Visita"
                >Adultos M.</a
              >
            </th>
            <% } %>
            <% if (sort == "paymentMethod" && order == "asc"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=paymentMethod&order=dec<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Método de Pago Utilizado (Orden Ascendente)"
                >Método de Pago &uarr;</a
              >
            </th>
            <% } else if (sort == "paymentMethod" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=paymentMethod&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Método de Pago Utilizado (Orden Descendente)"
                >Método de Pago &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=paymentMethod&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Método de Pago Utilizado"
                >Método de Pago</a
              >
            </th>
            <% } %>
            <% if (sort == "totalBolivars" && order == "asc"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=totalBolivars&order=dec<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Monto Total en Bolivares (Orden Ascendente)"
                >Monto (Bs.) &uarr;</a
              >
            </th>
            <% } else if (sort == "totalBolivars" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=totalBolivars&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Monto Total en Bolivares (Orden Descendente)"
                >Monto (Bs.) &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=totalBolivars&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Monto Total en Bolivares"
                >Monto (Bs.)</a
              >
            </th>
            <% } %>
            <% if (sort == "totalDolars" && order == "asc"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=totalDolars&order=dec<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Monto Total en Dólares (Orden Ascendente)"
                >Monto ($) &uarr;</a
              >
            </th>
            <% } else if (sort == "totalDolars" && order == "dec"){ %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=totalDolars&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Monto Total en Dólares (Orden Descendente)"
                >Monto ($) &darr;</a
              >
            </th>
            <% } else { %>
            <th scope="col">
              <a
                href="/historial?pag=<%=pag%>&sort=totalDolars&order=asc<%=searchFilter%>"
                class="text-decoration-none text-black"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Monto Total en Dólares"
                >Monto ($)</a
              >
            </th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% visits.forEach((visit, index) => { %>
          <tr
            class="user-select-none"
            style="cursor: pointer"
            data-bs-toggle="modal"
            data-bs-target="#modalVisit<%=index %>"
          >
            <td><%= visit.date %></td>
            <td><%= visit.time %></td>
            <td><%= visit.childrenNumber %></td>
            <td><%= visit.adultsNumber %></td>
            <td><%= visit.seniorsNumber %></td>
            <td><%= visit.paymentMethod %></td>
            <td><%= visit.totalBolivars %></td>
            <td><%= visit.totalDolars %></td>
          </tr>
          <div
            class="modal fade"
            id="modalVisit<%=index %>"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-bg-success">
                  <h1 class="modal-title fs-5" id="modalLabel<%=index %>">
                    Información de la Visita
                  </h1>
                  <button class="btn text-light p-0 opacityHover" data-bs-dismiss="modal" aria-label="Close">
                    <i class="" data-lucide="x" alt="close-icon"></i>
                  </button>
                </div>
                <div class="modal-body d-flex">
                  <% if (visit.paymentMethod == "Efectivo") { %> 
                  <% methodInfoType = "Moneda:" %> 
                  <% } else if (visit.paymentMethod == "Otro") { %>
                  <% methodInfoType = "Información del Método:" %> 
                  <% } else { %> 
                  <% methodInfoType = "Nro de Referencia:" %> 
                  <% } %>
                  <section class="offset-2 col-4 d-flex flex-column">
                    <label class="factura_campo">Representante:</label>
                    <label class="factura_campo">Teléfono:</label>
                    <hr class="solid mt-2 mb-2" />
                    <label class="factura_campo">Niños:</label>
                    <label class="factura_campo">Adultos:</label>
                    <label class="factura_campo">Adultos Mayores:</label>
                    <hr class="solid mt-2 mb-2" />
                    <label class="factura_campo">Monto (Bs.):</label>
                    <label class="factura_campo">Monto ($):</label>
                    <label class="factura_campo">Método de Pago:</label>
                    <label class="factura_campo"><%=methodInfoType %></label>
                    <hr class="solid mt-2 mb-2" />
                    <label class="factura_campo">Fecha:</label>
                    <label class="factura_campo">Hora:</label>
                  </section>

                  <section class="col-4 d-flex flex-column">
                    <span class="factura_datos text-center"
                      ><%= visit.representativeName %></span
                    >
                    <span class="factura_datos text-center"
                      ><%= visit.representativePhone %></span
                    >
                    <hr class="solid mt-2 mb-2" />
                    <span class="factura_datos text-center"
                      ><%= visit.childrenNumber %></span
                    >
                    <span class="factura_datos text-center"
                      ><%= visit.adultsNumber %></span
                    >
                    <span class="factura_datos text-center"
                      ><%= visit.seniorsNumber %></span
                    >
                    <hr class="solid mt-2 mb-2" />
                    <span class="factura_datos text-center"
                      ><%= visit.totalBolivars %></span
                    >
                    <span class="factura_datos text-center"
                      ><%= visit.totalDolars %></span
                    >
                    <span class="factura_datos text-center"
                      ><%= visit.paymentMethod%></span
                    >
                    <span class="factura_datos text-center"
                      ><%= visit.extraInfoPayment %></span
                    >
                    <hr class="solid mt-2 mb-2" />
                    <span class="factura_datos text-center"
                      ><%= visit.date %></span
                    >
                    <span class="factura_datos text-center"
                      ><%= visit.time %></span
                    >
                  </section>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </tbody>
      </table>
    </section>

    <% if (pag == 1){ %>
      <% prevPag = 1 %> 
    <% } else { %> 
      <% prevPag = pag-1 %>
    <% } %>
    <% if (sort != "" && order != "") { %>
       <% sortQueries = "&sort=" + sort + "&order=" + order %>
    <% } else { %> 
    <% sortQueries = "" %> 
    <% } %>
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item">
        <a
          class="page-link"
          href="/historial?pag=<%=prevPag%><%=sortQueries%><%=searchFilter%>"
          aria-label="Previous"
        >
          <span aria-hidden="true" class="text-success fw-bold user-select-none"
            >&laquo;</span
          >
        </a>
      </li>

      <% for (let p = 1, stop = false; stop != true; p++) { %> 
        <% if (total > 0){ %>
          <li class="page-item">
            <a
              class="page-link user-select-none <% if (pag == p) { %> text-bg-success <% } else { %> text-success <% } %> fw-bold"
              href="/historial?pag=<%=p%><%=sortQueries%><%=searchFilter%>"
              ><%= p %>
            </a>
          </li>
          <% total -= 10 %>
        <% } else {%>
          <% nextPage = p-1%>
          <% stop = true %>
        <% } %>
      <% } %>
      <% if (pag != nextPage){ %>
        <% nextPage = pag + 1 %> 
      <% } %>

      <li class="page-item">
        <a
          class="page-link"
          href="/historial?pag=<%=nextPage%><%=sortQueries%><%=searchFilter%>"
          aria-label="Next"
        >
          <span aria-hidden="true" class="text-success fw-bold user-select-none"
            >&raquo;</span
          >
        </a>
      </li>
    </ul>
  </main>
  <%- include('partials/scripts')%>
<%- include('partials/foot'); %>