<%- include('partials/head', {title : "Inicio", css : "inicio.css",
js : "", header : true}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container-fluid d-flex flex-column p-0 m-0 vh-100">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <article class="d-flex flex-column justify-content-evenly mainArticle position-relative text-white align-items-center">
      <header class="d-flex flex-column align-items-center justify-content-center rounded-5 text-center z-1 w-75 mx-auto my-5">
        <h4>Bienvenido, <span class="text-info"><%= username %></span></h4>
        <p class="m-0 p-0">al</p>
        <h2>Sistema de Registro y Control de Visitantes e Ingresos del Zoológico Paraguaná</h2>
      </header>
      <section class="d-flex gap-5 z-1">
        <a class="btn btn-outline-light" href="/visitantes">Registrar Visitantes</a>
        <a class="btn btn-outline-light" href="/historial">Historial Diario</a>
        <a class="btn btn-outline-light" href="/estadisticas">Estadisticas</a>
        <a class="btn btn-outline-light" href="/ajustes">Ajustes</a>
      </section>
      <footer class="z-1 mt-5">Creado con &#128154 por Angel Añez</footer>
      <div class="position-absolute text-bg-dark bg-opacity-75 w-100 h-100"></div>
    </article>

<!--     <article class="container-fluid row p-0 m-0" style="height: 88%;">
      
      <section id="carouselExample" class="carousel slide m-0 p-0 col-12 position-relative">

        <section class="m-0 p-0 text-center d-flex align-items-center justify-content-center position-absolute z-1 text-bg-dark bg-opacity-75 w-100 h-100 carousel-dark">
          <section>
            <h1>Bienvenido, AngelDavid</h1>
            <p class="fs-5">Sistema de Registro y Control de Visitantes e Ingresos del Zoológico Paraguaná </p>
          </section>
        </section>
        <section class="carousel-inner p-0 pepe">
          <figure class="carousel-item active">
            <img src="./public/assets/img/zoo-bridge.webp" class="carouselImg" alt="...">
          </figure>
          <figure class="carousel-item">
            <img src="./public/assets/img/zoo-entry.jpeg" class="carouselImg" alt="...">
          </figure>
          <figure class="carousel-item">
            <img src="./public/assets/img/zoo-bridge.webp" class="carouselImg" alt="...">
          </figure>
        </section>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </section>
    </article> -->

    

  </main>
  <%- include('partials/scripts')%> <%- include('partials/foot') %>
</body>
