<%- include('partials/head', {title : "Inicio", css : "inicio.css",
js : "", header : true}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container-fluid d-flex flex-column p-0 m-0 vh-100">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <article class="d-flex flex-column justify-content-evenly mainArticle position-relative text-white align-items-center user-select-none">
      <header class="d-flex flex-column align-items-center justify-content-center rounded-5 text-center z-1 w-75 mx-auto mt-4">
        <h4>Bienvenido, <span class="text-info"><%= username %></span></h4>
        <p class="m-0 p-0">al</p>
        <h2>Sistema de Registro y Control de Visitantes e Ingresos del Zoológico Paraguaná</h2>
      </header>
      <section class="d-flex flex-column gap-3 z-1">
        <a class="btn btn-light" href="/visitantes">Registro de Visitantes</a>
        <a class="btn btn-light" href="/historial">Historial de Visitas</a>
        <a class="btn btn-light" href="/estadisticas">Estadísticas</a>
        <a class="btn btn-light" href="/novedades">Novedades</a>
        <a class="btn btn-light" href="/ajustes">Ajustes</a>
      </section>
      <footer class="z-1 mt-2">Creado con &#128154 por Angel Añez</footer>
      <div class="position-absolute text-bg-dark bg-opacity-75 w-100 h-100"></div>
    </article>
    
  </main>
  <%- include('partials/scripts')%> <%- include('partials/foot') %>
</body>
