<%- include('partials/head', {title : "Inicio", css : "",
js : ""}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/sidebar'); %>
  <main class="container-fluid row d-flex p-0 m-0" style="height: 100vh">
    <!-- Encabezado -->
    <%- include('partials/header'); %>

    <h2>Inicio</h2>
  </main>
  <%- include('partials/scripts')%> <%- include('partials/foot') %>
</body>
