<%- include('../../layout-head', {title : "Historial de Visitas", css :
"history.css", js : "history.js"}); %>

    <%- include('partials/search-visit-bar', {searchFilter}); %>

    <% if (visits.length > 0) { %>

    <%- include('partials/table', {searchFilter, visits}) %>

    <%- include('partials/table-pagination-bar', {pag}) %>

    <% } else { %>
      <h6 class="text-center mt-2">No se ha encontrado ninguna visita</h6>
    <% } %>

  <%- include('partials/view-visit-modal') %>

  <%- include('partials/edit-visit-modal', {visits}) %>
        
  <%- include('partials/delete-visit-modal') %>
    
<%- include('../../layout-foot', {messageAlert, typeAlert, showAlert}) %>
