<section class="container py-2 px-4 table-responsive">
  <table
    class="table text-center table-hover table-sm table-rounded rounded-2 overflow-hidden shadow border"
  >
    <thead class="table-primary">
      <tr class="user-select-none">
        <% if (searchFilter != "") { %> <% searchFilter = "&filter=" +
        searchFilter %> <% } %> 
            <%- include('table-header', {title: "Fecha", tooltipTitle: "Fecha de registro de la novedad", name: "date", sort, order}); %>
            <%- include('table-header', {title: "Hora", tooltipTitle: "Hora de registro de la novedad", name: "time", sort, order}); %>
            <%- include('table-header', {title: "Asunto", tooltipTitle: "Titulo de la novedad", name: "subject", sort, order}); %>
            <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% news.forEach(element => { %>
      <tr class="user-select-none">
        <td><%= element.date %></td>
        <td><%= element.time %></td>
        <td><%= element.subject %></td>
        <td>
          <%- include('table-action', {element, tooltipTitle: 'Ver detalles', target: '#infoNewModal', action: 'view', icon: 'eye'}) %>

           <% if (admin) { %>
            <%- include('table-action', {element, tooltipTitle: 'Modificar novedad', target: '#infoNewModal', action: 'modify', icon: 'pencil'}) %>
          
            <%- include('table-action', {element, tooltipTitle: 'Eliminar novedad', target: '#deleteNewModal', action: 'delete', icon: 'trash-2'}) %>
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</section>
