<section class="news-table-container">
  <table
    class="table news-table"
  >
    <thead class="table-success">
      <tr class="user-select-none">
        <% if (searchFilter != "") { %> <% searchFilter = "&filter=" +
        searchFilter %> <% } %> 
            <%- include('table-header', {title: "Fecha", tooltipTitle: "Fecha de registro de la novedad", name: "date", sort, order}); %>
            <%- include('table-header', {title: "Hora", tooltipTitle: "Hora de registro de la novedad", name: "time", sort, order}); %>
            <%- include('table-header', {title: "Asunto", tooltipTitle: "Titulo de la novedad", name: "subject", sort, order, width: 50}); %>
            <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% news.forEach(element => { %>
      <tr class="user-select-none">
        <td><%= new Date(element.date_time).toLocaleDateString(); %></td>
        <td><%= new Date(element.date_time).toLocaleTimeString(); %></td>
        <td><%= element.subject %></td>
        <td>
          <%- include('table-action', {element, tooltipTitle: 'Ver detalles', target: '#generalNewModal', action: 'view', icon: 'eye'}) %>

           <% if (admin) { %>
            <%- include('table-action', {element, tooltipTitle: 'Modificar novedad', target: '#generalNewModal', action: 'modify', icon: 'pencil'}) %>
          
            <%- include('table-action', {element, tooltipTitle: 'Eliminar novedad', target: '#deleteNewModal', action: 'delete', icon: 'trash-2'}) %>
          <% } %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</section>
