<%- include('partials/general/head', {title : "Visitantes", css : "visitantes.css", js : "visitantes.js", header: true}); %>
<body class="d-flex bg-body-secondary">

    <!-- Menu Lateral y Main-->
    <%- include('partials/nav/sidebar'); %>
    <main class="container-fluid row d-flex flex-column p-0 m-0 gap-3 vh-100 w-100">   
        <!-- Encabezado -->
        <%- include('partials/nav/header'); %>

        <form method="post" id="addNewVisit" class="d-flex align-items-center" style="flex: 1;">
            <!-- Evita que se envíe el Formulario con ENTER -->
            <button type="submit" disabled class="none" aria-hidden="true"></button> 

            <article class="container-fluid d-flex justify-content-center">

                <!-- Pasos -->
                <%- include('partials/visits/stepsMenuVisitantes'); %>

                <!-- Paso 1: Cantidad de Visitantes -->
                <%- include('partials/visits/newVisitsStep1.ejs')%>

                <!-- Paso 2: Datos de Pago -->
                <%- include('partials/visits/newVisitsStep2.ejs')%>

                <!-- Paso 3: Datos del Representante -->
                <%- include('partials/visits/newVisitsStep3.ejs')%>

                <!-- Paso 4: Confirmación -->
                <%- include('partials/visits/newVisitsStep4.ejs')%>

            </article>
        </form>
    </main> 
    
<%- include('partials/general/foot', {messageAlert, typeAlert, showAlert}); %>
    