<%- include('partials/general/head', {title : "Administración de Usuarios", css
: "", js: "admin.js", header: true}); %>
<body class="d-flex bg-body-secondary">
  <!-- Menu Lateral y Main-->
  <%- include('partials/nav/sidebar'); %>
  <main class="container-fluid row d-flex flex-column p-0 m-0 gap-3 vh-100">
    <!-- Encabezado -->
    <%- include('partials/nav/header'); %>

    <section class="container-fluid table-responsive px-4 w-75">
      <table
        class="table text-center table-hover table-sm table-rounded rounded-2 overflow-hidden shadow border user-select-none"
      >
        <caption
          class="text-center fs-3 caption-top text-dark fw-semibold mb-2"
        >
          Administración de Usuarios
        </caption>
        <thead class="table-success">
          <tr>
            <th>Nombre de Usuario</th>
            <th>Rol</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user) => { %> <% if (user.username != username &&
          user.username != "root") {%>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.role %></td>
            <td>
              <% if (user.role != "Por Aprobar"){ %>
              <a
                class="btn btn-link p-0"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Cambiar Contraseña"
              >
                <i
                  class="text-dark opacityHover"
                  data-bs-toggle="modal"
                  data-bs-target="#changePasswordModal"
                  data-bs-user="<%=user.username%>"
                  data-lucide="key-round"
                  alt="changepassword-icon"
                ></i>
              </a>
              <% } %> <% if (user.role == "Moderador") { %>
              <a
                class="btn btn-link p-0"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Convertir en Administrador"
              >
                <i
                  class="text-dark opacityHover"
                  data-bs-toggle="modal"
                  data-bs-target="#promoteAdminModal"
                  data-bs-user="<%=user.username%>"
                  data-lucide="shield-plus"
                  alt="makeadmin-icon"
                ></i>
              </a>
              <% } %> <% if (user.role == "Administrador") {%>
              <a
                class="btn btn-link p-0"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Retornar a Moderador"
              >
                <i
                  class="text-dark opacityHover"
                  data-bs-toggle="modal"
                  data-bs-target="#returnModeratorModal"
                  data-bs-user="<%=user.username%>"
                  data-lucide="shield-minus"
                  alt="makeadmin-icon"
                ></i>
              </a>
              <% } %> <% if (user.role == "Por Aprobar") {%>
              <a
                class="btn btn-link p-0"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Aprobar Solicitud"
              >
                <i
                  class="text-dark opacityHover"
                  data-bs-toggle="modal"
                  data-bs-target="#aceptRequestModal"
                  data-bs-user="<%=user.username%>"
                  data-lucide="check"
                  alt="makeadmin-icon"
                ></i>
              </a>
              <% } %>
              <a
                class="btn btn-link p-0"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="Eliminar Usuario"
              >
                <i
                  class="text-dark opacityHover"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteUserModal"
                  data-bs-user="<%=user.username%>"
                  data-lucide="trash-2"
                  alt="delete-icon"
                ></i>
              </a>
            </td>
          </tr>
          <% }}) %>
        </tbody>
      </table>
    </section>

    <% if (pag == 1){ %> <% prevPag = 1 %> <% } else { %> <% prevPag = pag-1 %>
    <% } %>
    <ul class="pagination d-flex justify-content-center">
      <% finalPage = Math.ceil(total / 8 )%> <% if (finalPage > 1) { %>
      <li class="page-item">
        <a
          class="page-link"
          href="/admin?pag=<%=prevPag%>"
          aria-label="Previous"
        >
          <span aria-hidden="true" class="text-success fw-bold user-select-none"
            >Anterior</span
          >
        </a>
      </li>
      <li class="page-item">
        <a
          class="page-link user-select-none <% if (pag == 1) { %> text-bg-success <% } else { %> text-success <% } %> fw-bold"
          href="/admin?pag=1"
          >1
        </a>
      </li>
      <% } %> <% if (pag - 5 > 2) { %>
      <li class="page-item">
        <a class="page-link user-select-none text-success fw-bold">... </a>
      </li>
      <% } %> <% for (let p = -5; p < 6 ; p++) { %> <% if (pag + p > 1 && pag +
      p < finalPage) {%>
      <li class="page-item">
        <a
          class="page-link user-select-none <% if (pag == pag+p) { %> text-bg-success <% } else { %> text-success <% } %> fw-bold"
          href="/admin?pag=<%=pag+p%>"
          ><%= pag+p %>
        </a>
      </li>
      <% } } %> <% if (pag == finalPage){ %> <% nextPage = finalPage %> <% }
      else { %> <% nextPage = pag + 1 %> <% } %> <% if (finalPage > pag + 6 ) {
      %>
      <li class="page-item">
        <a class="page-link user-select-none text-success fw-bold">... </a>
      </li>
      <% } %> <% if (finalPage > 1) {%>
      <li class="page-item">
        <a
          class="page-link user-select-none <% if (pag == finalPage) { %> text-bg-success <% } else { %> text-success <% } %> fw-bold"
          href="/admin?pag=<%=finalPage%>"
          ><%=finalPage%>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin?pag=<%=nextPage%>" aria-label="Next">
          <span aria-hidden="true" class="text-success fw-bold user-select-none"
            >Siguiente</span
          >
        </a>
      </li>
      <% } %>
    </ul>

    <!-- Modal para Cambiar Contraseña -->
    <article
      class="modal fade"
      id="changePasswordModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <header class="modal-header text-bg-success user-select-none">
            <h1 class="modal-title fs-5"></h1>
            <button
              class="btn text-light p-0 opacityHover"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i data-lucide="x" alt="close-icon"></i>
            </button>
          </header>
          <form method="post">
            <section class="modal-body d-flex flex-column gap-4 py-2 px-3">
              <section class="user-select-none d-flex flex-column gap-3">
                <section>
                  <label
                    for="changePasswordModalUser"
                    class="col-form-label fw-bold"
                    >Usuario</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="changePasswordModalUser"
                    name="username"
                    value=""
                    readonly
                  />
                </section>
                <section>
                  <label for="newPassword" class="col-form-label fw-bold"
                    >Nueva contraseña</label
                  >
                  <div
                    class="d-flex align-items-center justify-content-between position-relative"
                  >
                    <input
                      type="password"
                      class="form-control"
                      id="newPassword"
                      name="newPassword"
                      required
                      autocomplete="off"
                    />
                    <i
                      data-lucide="eye"
                      class="passwordIconContainer position-absolute end-0 mx-3"
                      id="passwordHideIcon"
                      onclick="hidePassword('newPassword')"
                    ></i>
                  </div>
                </section>
              </section>
              <section class="d-flex justify-content-around mb-2">
                <a
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  >Cancelar</a
                >
                <button type="submit" class="btn btn-success">
                  Guardar Cambios
                </button>
              </section>
            </section>
          </form>
        </section>
      </section>
    </article>

    <!-- Modal para Convertir en Administrador -->
    <article
      class="modal fade"
      id="promoteAdminModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <header class="modal-header text-bg-primary user-select-none">
            <h1 class="modal-title fs-5"></h1>
            <button
              class="btn text-light p-0 opacityHover"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i data-lucide="x" alt="close-icon"></i>
            </button>
          </header>
          <form method="post">
            <section
              class="modal-body d-flex flex-column gap-2 py-3 px-3 user-select-none"
            >
              <p class="text-center">
                ¿Está seguro que desea promover a
                <span id="promoteAdminModalUser" class="fw-bold"></span> al rol
                de Administrador?
              </p>
              <section class="d-flex justify-content-around mb-2">
                <a
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  >Cancelar</a
                >
                <input type="text" class="d-none" name="username" value="" />
                <input
                  type="text"
                  class="d-none"
                  name="changeRole"
                  value="Administrador"
                />
                <button type="submit" class="btn btn-primary">Promover</button>
              </section>
            </section>
          </form>
        </section>
      </section>
    </article>

    <!-- Modal para Retornar a Moderador -->
    <article
      class="modal fade"
      id="returnModeratorModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <header class="modal-header text-bg-primary user-select-none">
            <h1 class="modal-title fs-5"></h1>
            <button
              class="btn text-light p-0 opacityHover"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i data-lucide="x" alt="close-icon"></i>
            </button>
          </header>
          <form method="post">
            <section
              class="modal-body d-flex flex-column gap-2 py-3 px-3 user-select-none"
            >
              <p class="text-center">
                ¿Está seguro que desea retornar a
                <span id="returnModeratorModalUser" class="fw-bold"></span> al
                rol de Moderador?
              </p>
              <section class="d-flex justify-content-around mb-2">
                <a
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  >Cancelar</a
                >
                <input type="text" class="d-none" name="username" value="" />
                <input
                  type="text"
                  class="d-none"
                  name="changeRole"
                  value="Moderador"
                />
                <button type="submit" class="btn btn-primary">Retornar</button>
              </section>
            </section>
          </form>
        </section>
      </section>
    </article>

    <article
      class="modal fade"
      id="aceptRequestModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <header class="modal-header text-bg-primary user-select-none">
            <h1 class="modal-title fs-5"></h1>
            <button
              class="btn text-light p-0 opacityHover"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i data-lucide="x" alt="close-icon"></i>
            </button>
          </header>
          <form method="post">
            <section
              class="modal-body d-flex flex-column gap-2 py-3 px-3 user-select-none"
            >
              <p class="text-center">
                ¿Está seguro que desea aceptar la creación del usuario
                <span id="aceptRequestModalUser" class="fw-bold"></span>?
              </p>
              <section class="d-flex justify-content-around mb-2">
                <a
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  >Cancelar</a
                >
                <input type="text" class="d-none" name="username" value="" />
                <input
                  type="text"
                  class="d-none"
                  name="changeRole"
                  value="Moderador"
                />
                <button type="submit" class="btn btn-primary">Aprobar</button>
              </section>
            </section>
          </form>
        </section>
      </section>
    </article>

    <!-- Modal para Eliminar Usuario -->
    <article
      class="modal fade"
      id="deleteUserModal"
      tabindex="-1"
      aria-hidden="true"
    >
      <section class="modal-dialog modal-dialog-centered">
        <section class="modal-content">
          <header class="modal-header text-bg-danger user-select-none">
            <h1 class="modal-title fs-5"></h1>
            <button
              class="btn text-light p-0 opacityHover"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i data-lucide="x" alt="close-icon"></i>
            </button>
          </header>
          <form method="post">
            <section
              class="modal-body d-flex flex-column gap-2 py-3 px-3 user-select-none"
            >
              <p class="text-center">
                ¿Está seguro que desea eliminar a
                <span id="deleteUserModalUser" class="fw-bold"></span>?
              </p>
              <section class="d-flex justify-content-around mb-2">
                <a
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  >Cancelar</a
                >
                <input type="text" class="d-none" name="username" value="" />
                <input
                  type="text"
                  class="d-none"
                  name="eraseUser"
                  value="true"
                />
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </section>
            </section>
          </form>
        </section>
      </section>
    </article>
  </main>
  <%- include('partials/general/foot', {messageAlert, typeAlert, showAlert}); %>
